<div class=" container">
  <h2 class="text-uppercase mt-3 font-weight-bold text-dark text-center">BECOME A <span id="span1">ORGAN DONOR</span> </h2>
  <form action="">
    <div class="row">
      <div class="col-lg-4">
        <div class="form-group">
          <label for="">First Name</label>
          <input type="text" class="form-control mt-2"  required>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="form-group">
          <label for="">Middle Name</label>
          <input type="text" class="form-control mt-2"  required>
        </div>
      </div>



      <div class="col-lg-4">
        <div class="form-group">
          <label for="">Last Name</label>
          <input type="text" class="form-control mt-2"  required><br><br>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="form-group">
          <label for="">Mobile Number</label>
          <input type="email" class="form-control mt-2"  required>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="form-group">
          <label for="">Email-Id</label>
          <input type="number" class="form-control mt-2" required>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="form-group">
          <label for="">Comments</label>
          <input type="number" class="form-control mt-2" required>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="form-group">
          <label for="">Gender*</label><br>
          <input type="radio" id="html" name="fav_language" value="HTML">
  <label for="html">Male</label><br>
<input type="radio" id="html" name="fav_language" value="HTML">
  <label for="html">Female</label><br>
</div>
<p class="p">
  In the presence of person mention below hereby equivocally authorise the removal of following organ(s)d/or tissue(s), from the body after being declared
    brain stem dead by the board of medical experts and consent to donate the same for therapeutic purposes.
</p>




      </div>
     
</div>
<h3>Please Tick as Applicable</h3>
<!-- <p>Organ(s):</p  -->
 
<div class="row">
  <div class="col-lg-6">
    <p>organs</p> 
  </div>
  <div class="col-lg-6">
    <p>Tissues</p> 
  </div>
</div>


<div id="check" class="row">
  <div class="col-lg-3">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked"  >
      <label class="form-check-label" for="flexCheckChecked">
      Kidneys
      </label>
</div>
  </div>
  <div class="col-lg-3">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
      <label class="form-check-label" for="flexCheckChecked">
      Heart
      </label>
</div>
  </div>
  <div class="col-lg-3">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
      <label class="form-check-label" for="flexCheckChecked">
        Corneas/Eye Balls
      </label>
</div>
  </div>
  <div class="col-lg-3">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
      <label class="form-check-label" for="flexCheckChecked">
        Skin
      </label>
</div>
  </div>
  <div class="col-lg-3">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
      <label class="form-check-label" for="flexCheckChecked">
        Lungs
      </label>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
      <label class="form-check-label" for="flexCheckChecked">
        Liver
      </label>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
      <label class="form-check-label" for="flexCheckChecked">
        Bones
      </label>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
      <label class="form-check-label" for="flexCheckChecked">
        Heart Valves
      </label>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
      <label class="form-check-label" for="flexCheckChecked">
        Pancrease
      </label>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
      <label class="form-check-label" for="flexCheckChecked">
        Intestine
      </label>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
      <label class="form-check-label" for="flexCheckChecked">
        Blood vessels
      </label>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
      <label class="form-check-label" for="flexCheckChecked">
        All
      </label>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
      <label class="form-check-label" for="flexCheckChecked">
      Hand
      </label>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
      <label class="form-check-label" for="flexCheckChecked">
        All
      </label>
    </div>
  </div>
</div>
<p>(Tissues can also be donated after Brain Stem Death as well as Cardiac Death)</p>
<div class="row">
  <div class="col-lg-4">
    <div class="form-group">
      <label for="">First Name</label>
      <select class="form-select" aria-label="Default select example">
        <option selected>My Blood Group is(if Known)</option>
        <option value="1">A+</option>
        <option value="2">A-</option>
        <option value="3">B+</option>
        <option value="3">B-</option>
        <option value="3">AB+</option>
        <option value="3">AB-</option>
        <option value="3">O+</option>
        <option value="3">O-</option>
      </select>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="form-group">
      <label for="">Telephone Number</label>
      <input type="tel" class="form-control mt-2"  required>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="form-group">
      <label for="">Email id</label>
      <input type="email" class="form-control mt-2" placeholder="Salih@gmail.com" required>
    </div>
  </div>
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Address</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Address">
</div>
<div class="row">
  <div class="col-lg-4">
  <div class="form-group">
    <label for="">Taluka</label>
    <input type="text" class="form-control mt-2"  required placeholder="taluka" >
  </div>
  </div>
  <div class="col-lg-4">
  <div class="form-group">
    <label for="">Dist.</label>
    <input type="text" class="form-control mt-2" placeholder="District" required>
  </div>
</div>
<div class="col-lg-4">
  <div class="form-group">
    <label for="">State</label>
    <input type="text" class="form-control mt-2" placeholder="State"  required >
  </div>
</div>
</div>
<br><br><br>

<!-- NAME OF RELATIVE -->
<h3>Name of Relative</h3>
<div class="row">
  <div class="col-lg-4">
    <div class="form-group">
      <label for="">First Name</label>
      <input type="text" class="form-control mt-2"  required>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="form-group">
      <label for="">Middle Name</label>
      <input type="text" class="form-control mt-2"  required>
    </div>
  </div>
  <div class="col-lg-4" >
    <div class="form-group">
      <label for="">Last Name</label>
      <input type="text" class="form-control mt-2"  required><br><br>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="form-group">
      <label for="">Aged</label>
      <input type="number" class="form-control mt-2" placeholder="aged" required>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="form-group">
      <label for="">Telephone Number</label>
      <input type="tel" class="form-control mt-2" required>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="form-group">
      <label for="">Email ID</label>
      <input type="email" class="form-control mt-2" required>
    </div>
  </div>
</div>
<br>
<!-- Gender -->
<h5>Gender</h5>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
  <label class="form-check-label" for="inlineRadio1">Male</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
  <label class="form-check-label" for="inlineRadio2">Female</label>
</div>
<br><br>
<!-- Relative Address -->
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Address</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Address">
</div>
<div class="row">
  <div class="col-lg-4">
  <div class="form-group">
    <label for="">Taluka</label>
    <input type="text" class="form-control mt-2"  required placeholder="taluka" >
  </div>
  </div>
  <div class="col-lg-4">
  <div class="form-group">
    <label for="">Dist.</label>
    <input type="text" class="form-control mt-2" placeholder="District" required>
  </div>
</div>
<div class="col-lg-4">
  <div class="form-group">
    <label for="">State</label>
    <input type="text" class="form-control mt-2" placeholder="State"  required >
  </div>
</div>
</div>
<br>
<!-- Relation with applicant -->
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Relation with Applicant*</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Address">
</div>
<br>
<!-- Reference -->
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Reference</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Address">
</div>
<!-- button -->
<button type="button" id="button" class="btn btn-lg" style=" background-color:brown;">Submit</button>
  </form>
<br><br>







