
<div class="container">
  <div class="row">
      
      <div class="col-lg-6 m-auto">
          <div class=" about-title clearfix content-wrapper align-left">
                      <div class="carousel slide slides pt-2" role="listbox" data-pause="true" data-keyboard="false" data-ride="carousel" data-interval="5000">
                  
                            <div class="carousel-inner">

                      
                                    <div class="carousel-item">
                                          <div class="align-left">
                            
                                          </div>
                                    </div>
                            </div>
                      </div>
              <h1>About <span>Organ Donation</span></h1>
              <h3>‘Someone Somewhere Is Always In Need Of Help’ </h3>
              <p class="about-paddingB">

                Donate Life with the support from hospitals, doctors, Surat civil hospital, Surat police department, Surat Airport Authority, Surat Municipal Corporation, press and media and our volunteers has made an impact in the lives of many souls, giving them a new lease of life.
                
                In 2017, Surat achieved a new milestone by donating the 62 kidney in one year. Surat was able to give a new lease of life to 127 persons across the country by transplantation of 9 heart, 52 kidney, 28 liver, 2 pancreas and 38 eyes was done through the efforts of Donate Life.</p>
          </div>
      </div>

      <div class="col-lg-6 p-5">
          <img src="../../../assets/images/about.avif" alt="" width="600"><br><br>
      </div>

  </div>
</div>
